# Include an external constraints file to limit versions where needed
-c constraints.txt

# Core
Django									# https://docs.djangoproject.com/en/1.10/releases/
uWSGI									# https://uwsgi-docs.readthedocs.io/en/latest/#stable-releases

# Non-pypi packages
-e custom-packages/django-generate-dynamic-configs/
-e custom-packages/django-maint-mode-toggle/
-e custom-packages/django-rotate-secret-key/
